.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    background: #1d1b1c;
    font-size: 0.8rem;
    gap: 1rem;
}

p.footer {
    display: inline;
}

p.footer + p.footer:before {
    content: "|";
}