.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    background: #1d1b1c;
}

.footer {
    display: inline-flex;
    gap: 1rem;
}

.textLink:hover {
    color: #137a7f;
    transition: ease-in-out 0.2s;
}